*{
    box-sizing: border-box;
    font-family: 'Lora';
}

/*CARDS*/
.top{
  text-align: center;
  margin-top: 20px;
}
.top h4{
  font-family: 'Parisienne';
  font-size: 3em;
}
.top h6{
  padding-bottom: 10px;
}
.top .line hr{
  width: 30%;
}
.bottom{
  text-align: center;
}
.bottom a{
  text-decoration: none;
  color: #524a4a;
  font-family: 'Parisienne';
  font-size: 25px;
}
.bottom a:hover{
  color: #6d6262;
}
.btn-padding{
  padding-bottom: 20px;
}


/*NAVBAR*/
nav{
  opacity: 75%;
}
.navbar{
  margin-left: 100px;
}
.navbar li a{
  font-size: 20px;
  margin-left: 20px;
}
.logo{
  margin-right: 10px;
}

/*SIDENAV*/
.sidenav{
  text-align: center;
}
.sidenav li:first-child{
  margin-top: 50px;
}
.sidenav li a{
  margin: 10px;
  font-size: 2em;
}

/*HOMEPAGE*/
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75)), url('./img//homePage.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Lora';
  margin: 0;
  text-align: center;
 
}
.title h1{
  font-size: 5em;
  color: white;
  font-weight: 400;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);

}
.title h1 span{
font-size: .6em;
}
@media (min-width: 320px) and (max-width: 480px) {
.title h1{
  font-size: 3em;
}
}

/*ABOUT*/
.about{
 padding: 100px 0px 100px;
 color:#6d6262;
}
@media (min-width: 320px) and (max-width: 600px) {
  .about{
    padding: 10px 0px 10px;
   }
}
#about-content{
  margin-top: 12%;
  padding-bottom: 50px;
}
.jill{
  margin-top: 10px;
}
.jill img{
  margin-top: 100px;
  width: 90%;
  height: 600px;
  border-radius: 2px;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
}

@media (min-width: 481px) and (max-width: 767px) {
  
  .jill img{
    margin-left: 10%;
    width: 90%;
    height: 600px;
  }
  
}
@media (min-width: 320px) and (max-width: 480px) {
  .jill img{
    width: 70%;
    margin-left: 20%;
    height: 300px;
  }
}

/*IMG-MIDDLE*/
.img-middle{
    height: 50vh;
    background-image: url('./img//img-middle.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
@media (min-width: 320px) and (max-width: 767px) {
  .img-middle{
    height: 40vh;
  }
}


/*TREATS*/
#treats{
  padding: 150px 0px 150px;
  color:#6d6262;
}
@media (min-width: 320px) and (max-width: 600px) {
  #treats{
    padding: 50px 0px 50px;
  }
}
#treats-content{
  padding-top: 100px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  height: 70vh;
}
.one {
  grid-column: 1 / 2;
  grid-row: 1;
  background-image: url('./img/one.jpg');
  background-position: center;
  background-size: cover;
}
.two{
  grid-column: 2/2;
  grid-row: 1;
  background-image: url('./img/two.jpg');
  background-position: center;
  background-size: cover;
}
.three{
  grid-column: 1/2;
  grid-row: 2;
  background-image: url('./img/three.jpg');
  background-position: center;
  background-size: cover;
}
.four{
  grid-column: 2/2;
  grid-row: 2;
  background-image: url('./img/four.jpg');
  background-position: center;
  background-size: cover;
}

/*QOUTE DISPLAY*/
.qoute{
  height: 50vh;
  background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.75)), url('./img/heart.jpeg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .qoute{
    height: 40vh;
  }
}
.qoute-text h3{
  font-size: 2.5em;
  color: white;
  font-weight: 400;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  text-align: center;
}
@media (min-width: 320px) and (max-width: 600px) {
  .qoute-text h3{
    font-size: 2em;
  }
}

/*EVENTS*/
#events{
  padding: 150px 0px 150px;
  color:#6d6262;
}
@media (min-width: 320px) and (max-width: 600px) {
  #events{
    padding: 50px 0px 50px;
  }
}
#events-content{
  padding-top: 100px;
  margin-top: 15%;
  padding-bottom: 50px;
}


/*CONTACT*/
#contact{
  color: #524a4a;;
}
.input-field input[type=text] {
  color: #000;
  background-color: white;
  border-bottom: none;
  
}
.input-field input[type=text]:focus {
  border-bottom: none!important;
  box-shadow: none!important;
}
.input-field a{
  margin-top: 10px;
}
textarea{
  outline: none;
  background-color: white;
  font-size: 16px;
  border: none;
}
.name {
  width: auto;
  height: 100px;
}
.created {
  font-size: .9em;
  letter-spacing: 3px;
  color: gray;
  margin-top: 60px;
}
.link {
  font-size: .9em;
  color: white;
  letter-spacing: 3px;
  text-decoration: underline;
  margin: 0;
  text-decoration: none;
  padding-bottom: 10px;
}
.link:hover{
  text-shadow: 2px 4px 4px black;
  font-size: 1em;
}














 




